#logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


/* cards content */
.card-body {
    background: #ededf1;
    color:black;
}
/* end of card content */

/***************************************************
 * HEADER
 ***************************************************/

.topnav {
  padding: 1em 0em;
  margin: 0 auto;
}

.topnav__left {
  margin: 0 auto;
}  

.topnav__center {
  margin: 0 auto;
}

.topnav__right {
  margin: 0 auto;
}
